<div class="columns is-centered mt-6 pt-6">
    <div class="column is-one-quarter">
        <div class="card p-4">
            <p class="title">Login</p>

            <form id="login-form">
                <div class="field">
                <label for="username-login" class="label">Username:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="username">
                </div>
            </div>

            <div class="field">
                <label for="password-login" class="label">Password:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="password">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control mt-5">
                    <input type="submit" class="button is-info" value="Login">
                </div>

                <div class="control mt-5">
                    <input type="submit" class="button is-warning is-light" value="Sign Up Here">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>