<div class="columns is-centered -mt-6 pt-6">
    <div class="column is-one-quarter">
        <div class="card p-4">
            <p class="title">Sign Up</p>

             <div class="field">
                <label for="username-signup" class="label">Username:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="username">
                </div>
            </div>

            <div class="field">
                <label for="email-signup" class="lavel">Email</label>
                <div class="control">
                    <input class="input" type="text" placeholder="email">
                </div>
            </div>

            <div class="field">
                <label for="password-signup" class="label">Password:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="password">
                </div>

                <div class="control mt-5">
                    <button class="button is-info">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>